.st-condition-tree .query-builder>.group-container,
.st-condition-tree .query-builder>.group-container>.group>div,
.st-condition-tree .query-builder>.group-container>.group>.group--children>.group-or-rule-container {
    padding-right: 0;
}

.st-condition-tree .query-builder {
    margin: 0 0 0 -6px;
}

.st-condition-tree .query-builder-container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.st-condition-tree .query-builder>.group-container>.group {
    border-color: var(--background-color);
}

.st-condition-tree .rule, .st-condition-tree .rule_group {
    background-color: var(--secondary-background-color);
}

.st-condition-tree .group {
    background-color: var(--background-color);
    border: 1px solid rgba(49, 51, 63, 0.2);
    border-radius: 8px;
}

.st-condition-tree .rule_group:has(.single-child) {
    background-color: var(--secondary-background-color);
    border-color: var(--background-color);
}

.st-condition-tree .group--children.single-child {
    margin-top: 0;
    margin-bottom: 0;
}

.st-condition-tree .rule--value .rule--widget .widget--valuesrc {
    margin-top: 8px;
}

.st-condition-tree .ant-btn:not(.type) {
    outline: 0;
    height: 33px;
}

.st-condition-tree .rule--header>.ant-btn-group {
    margin-top: -2.5px;
    margin-bottom: -2.5px;
}

.st-condition-tree .group--conjunctions {
    margin-left: -1px;
}

.st-condition-tree .ant-btn-group>button:nth-child(3) {
    margin-left: -2px !important;
}
